# Initialize CPU
    # configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000

    # configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000

# GPU Improvements
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 647000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 160000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/kgsl/kgsl-3d0/throttling 0

# Set I/O scheduler
    write /sys/block/mmcblk0/queue/scheduler anxiety
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/nr_requests 512
    write /sys/block/mmcblk0/queue/iostats 0

# LMK and Cache
    write /sys/module/lowmemorykiller/parameters/lmk_fast_run 0
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0
    write /proc/sys/vm/dirty_background_radio 5

# Setup final cpuset
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-3,6-7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3
    write /dev/cpuset/audio-app/cpus 0-2

# Thermal Disabler, Core Control Disabler, VDD Restriction
    write /sys/module/msm_thermal/core_control/enabled 0

# Fastcharging
    write /sys/kernel/fast_charge/force_fast_charge 1
    write /sys/class/power_supply/battery/system_temp_level 0
    write /sys/class/power_supply/battery/input_current_limited 0
    write /sys/module/smb_lib/parameters/skip_thermal 0
    write /sys/class/qcom-battery/restricted_charging 0
    write /sys/class/power_supply/bms/temp_cool 100
    write /sys/class/power_supply/bms/temp_warm 600
    write /sys/class/power_supply/usb/ctm_current_max 3000000   
    write /sys/class/power_supply/dc/current_max 3000000
    write /sys/class/power_supply/qpnp-dc/current_max 3000000
    write /sys/class/qcom-battery/restricted_current 4000000
    write /sys/module/qpnp_smbcharger/parameters/default_hvdcp_icl_ma 3000
    write /sys/module/qpnp_smbcharger/parameters/default_dcp_icl_ma 3000
    write /sys/module/qpnp_smbcharger/parameters/default_hvdcp3_icl_ma 3000
    write /sys/module/phy_msm_usb/parameters/dcp_max_current 3000
    write /sys/module/phy_msm_usb/parameters/hvdcp_max_current 3000
    write /sys/module/phy_msm_usb/parameters/lpm_disconnect_thresh 3000